body{
    margin: 0;
    padding: 0;
}
.doc{
    padding-top: 2.8%;
    width: 100%;
    height: 100%;
    left: -320px;
    transition: all ease-in-out 300ms;
}
.sidebar{
    width: 320px;
    height: 100%;
    background-image: url("https://img5.goodfon.com/wallpaper/nbig/2/83/green-eyes-scales-snake.jpg");
    background-size: cover;
    background-color: #343434;
    position: fixed;
    overflow: hidden;
    float: left;
    color: #fff;
}
.sidebar img{
    width: 140px;
    display: block;
    margin: 20px auto;
    opacity: 0.7;
}
.sidehide{
    float: right;
    margin: 12px;
    color: white;
    opacity: 0.7;
    font-size: 24px;
    cursor: pointer;
}
.sidebar ul{
    margin: 0;
    padding: 0;
}
.sidebar li{
    list-style: none;
    padding: 10px;
}
.sidebar li:hover{
    background: #40b83f;
    color: #343434;
    padding: 10px 20px;
    display: block;
    margin: auto;;
}
.sidebar a{
    text-decoration: none;
    color: #fff;
    opacity: 0.7;
    font-size: 23px;
    font-family: 'Roboto Light', serif;
}
.content{
    padding: 20px;
    font-size: 16px;
    color: black;
    font-family: Arimo, Helvetica, sans-serif;
}
.content h2{
    font-size: 30px;
    padding-top: 60px;
    text-transform: uppercase;
    margin-left: 23%;
}

.content h3{
    margin-left: 23%;
}

.content p{
    font-size: 18px;
    text-align: justify;
    margin-left: 24%;
    margin-right: 6%;
    padding-right: 3%;
}
.content span{
    background: #40b83f;
    color: white;
    padding: 10px 0px;
    display: block;
    float: left;
    text-align: center;
    width: 150px;
    cursor: pointer;
    margin-left: 10px;
}

.content pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #40b83f;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
    margin-left: 22%;
    margin-right: 30%;

}

.show{
    left: 0;
}

.sidebar p {
    font-size: 1.7em;
    line-height: 45px;
    margin-left: 10px;
    font-family: 'Roboto Light', serif;
}

.sidebar a:hover {
    color: #343434;
}

header{
    width: 100%;
    padding: 10px 0.5% 0 0.5%;
    background: black;
    float: left;
    position: fixed;

}

header #logo {
    color: #fff;
    cursor: pointer;

}

header #logo span{
    font-size: 2em;
    line-height: 45px;
    margin-left: 20px;
    font-family: 'Roboto Light', serif;
}

@media (min-width: 701px) {
    #logo {
        float: left;
        width: 30%;
        font-size: 1.1em;
    }

    #about {
        float: right;
        width: 60%;
    ;
    }
}

@media (max-width: 700px) {
    #logo {
        margin-top: 15px;
        float: left;
        width: 100%;
        font-size: 1.5em;
    }
    #about {
        float: left;
        width: 100%;
    }
}

#about{
    text-align: center;
    font-size: 1em;
    line-height: 40px;
    margin-bottom: 10px;
}

#about > a {color: #fff}

#about > a:hover {
    color: #fff;
    text-decoration: underline;
}

#about > a:not(:last-child) {
    margin-right: 7%;
}

.fixed {
    z-index: 5000;
    background-color: #000000;
    border-bottom: 1px solid silver;
}

header.fixed #logo {
    color: #fff;
}

.fixed #about a {color: #343434}
.fixed #about a:hover {color: #7c7c7c}

.popup-box a  {
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
    margin-left: 23%;
    background-color: #40b83f;
    border: none;
    padding: 10px 30px;
    font-size: 20px;
}

.popup-box a:hover {
    background-color: #379036;
}

.close-this {
    padding-top: 2%;
}
