@import url('https://fonts.googleapis.com/css?family=Roboto|Suez+One');

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body, html {
    width: 100%;
    height: 2000px;
}

body {
    background-color: #fafafa;
    font-family: Trebuchet MS, Helvetica, sans-serif;
}

/* Шапка */


header{
    width: 100%;
    padding: 10px 0.5% 0 0.5%;
    background: transparent;
    float: left;
    position: fixed;

}

header #logo {
    color: #fff;
    cursor: pointer;

}

header #logo span{
    font-size: 1.7em;
    line-height: 45px;
    margin-left: 40px;
    font-family: 'Roboto Light', serif;
}

@media (min-width: 701px) {
    #logo {
        float: left;
        width: 30%;
        font-size: 1.1em;
    }

    #about {
        float: right;
        width: 60%;
;
    }
}

@media (max-width: 700px) {
    #logo {
        margin-top: 15px;
        float: left;
        width: 100%;
        font-size: 1.5em;
    }
    #about {
        float: left;
        width: 100%;
    }
}

#about{
    text-align: center;
    font-size: 1em;
    line-height: 40px;
    margin-bottom: 10px;
}

#about > a {color: #fff}

#about > a:hover {
    color: #b0b0b0;
    text-decoration: underline;
}

#about > a:not(:last-child) {
    margin-right: 7%;
}

.fixed {
    z-index: 5000;
    background-color: #fff;
    border-bottom: 1px solid silver;
}

header.fixed #logo {
    color: #343434;
}

.fixed #about a {color: #343434}
.fixed #about a:hover {color: #7c7c7c}

/* Фронт - блок */

#top {
    width: 100%;
    background-image: url("https://miro.medium.com/max/3840/1*MCT_IfKPKRdLf_5z4_yGuA.jpeg");
    background-blend-mode: multiply;
    background-color: #5bebf0;
    background-size: cover;
    text-align: center;
    color: #fff;
    font-size: 3em;
}

@media (min-width: 1101px) {
    #top{
        font-size: 3em;
        height: 1000px;
    }
}

@media (max-width: 1000px) and (min-width: 651px) {
    #top{
        font-size: 2em;
        height: 600px;
    }
}

@media (max-width: 650px) {
    #top{
        font-size: 1em;
        padding-top: 50%;
        height: 500px;
    }
}

#top h1{
    padding-top: 27%;
}

#top h3{
    color: #eeeeee;
}

/* Возможности */

#main {
    padding: 100px 20%;
    width: 60%;
    float: left;
    background-color: #ffffff;
    border-top: 2px solid silver;
    color: #484848;
    font-size: 1.3em;
}

@media (min-width: 1401px) {
    #main{
        padding: 100px 20%;
        width: 60%;
    }
}

@media (max-width: 1400px) {
    #main div {
        padding: 100px 10%;
        width: 80%;
    }
}

@media (max-width: 700px) {
    #main{
        width: 98%!important;
        margin-bottom: 20px;
    }
}

#main div {
    width: 48%;
    margin-right: 2%;
    float: left;
}

#main h2 {font-size: 3em}
#main span {color: #a0a0a0}

/* Преимущества */

#overview {
    float: left;
    background-image: url("https://wallpaperaccess.com/full/796863.jpg");
    background-blend-mode: multiply;
    background-color: #62a09d;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
    width: 100%;
    text-align: center;
    color: #fff;
}

#overview h2 {font-size: 3em}
#overview h4 {color: #ccc; font-size: 1.5em}

#overview .img {
    float: left;
    width: 30%;
    margin-right: 5%;
    margin-top: 50px;
}

#overview .img:nth-child(odd) {
    margin-left: 18%;
}

#overview img {
    background: #fafafa;
    padding: 5px;
    border: 2px solid silver;
    float: left;
    width: 100%;
    max-width: 500px;
}

#overview span {
    float: left;
    width: 100%;
    font-size: 2em;
    margin-top: 10px;
    color: #fff;
}

@media (max-width: 700px) {
    #overview .img {
        width: 80%!important;
        margin-right: 0!important;
        margin-left: 10% !important;
    }
}
/*Самый низ */
#contacts {
    width: 100%;
    float: left;
    padding-bottom: 40px;
    padding-top: 70px;
    border-top: 4px solid #ccc;;
    background-color: #fff;
}

a {
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
}

#contacts a {font-size: 3em; color: #4f4f4f}

#contacts a {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 16px 60px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

#contacts a:hover {
    background-color: RoyalBlue;
}

#faq {
    background-color: #fff;
    border-top: 2px dashed #e4e3e3;
    width: 100%;
    float: left;
    padding-top: 70px;
    padding-bottom: 70px;
}

#faq div {
    width: 25%;
    margin-left: 6%;
    float: left;
}

@media (min-width: 801px) {
    #faq div {
        width: 25%;
        margin-left: 6%;
        float: left;
    }

}

@media (max-width: 800px) {
    #faq div {
        width: 80%;
        margin-left: 10%;
        float: left;
    }
    
}

#faq .title {
    font-weight: lighter;
    color: #a3a0ad;
    margin-bottom: 20px;
    font-size: 2.2em;
}

#faq .heading {
    color: #7d7d7d;
    font-size: 1.3em;
    font-weight: bold;
}

#faq p {
    font-family: Arimo, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #4a4a4a;
    font-size: 0.95em;
    margin-bottom: 40px;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: white;
    padding-top: 10%;

}

footer .year {
    text-align: left;
}

footer .me {
    border-top: 6px solid silver;
    font-size: 1.7em;
    line-height: 75px;
    margin-left: 40px;
    font-family: 'Roboto Light', serif;
    color: #383838;
}

footer .me1 {
    text-align: left;
    color: #fff;
    font-family: Trebuchet MS, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 0.95em;
    padding-left: 40px;
    padding-top: 4%;
}

footer .links {
    text-align: right;
    padding-right: 47%;
}

#lessontop  {
    width: 100%;
    background-image: url("https://www.elsetge.cat/myimg/f/10-104478_animal-wallpaper-hd-anaconda-hd.jpg");
    background-blend-mode: multiply;
    background-color: #285c63;
    background-size: 2560px 1200px;
    text-align: center;
    color: #fff;
    font-size: 3em;
}

@media (min-width: 1101px) {
    #lessontop{
        font-size: 3em;
        height: 1000px;
    }
}

@media (max-width: 1000px) and (min-width: 651px) {
    #lessontop{
        font-size: 2em;
        height: 600px;
    }
}

@media (max-width: 650px) {
    #lessontop{
        font-size: 1em;
        padding-top: 50%;
        height: 500px;
    }
}

#lessontop h1{
    padding-top: 27%;
}

#lessontop h3{
    color: #eeeeee;
}
