@import url('https://fonts.googleapis.com/css?family=Roboto|Suez+One');

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body, html {
    width: 100%;
    height: 2000px;
}

body {
    background-color: #fafafa;
    font-family: Trebuchet MS, Helvetica, sans-serif;
}

/* Шапка */


header{
    width: 100%;
    padding: 10px 0.5% 0 0.5%;
    background: transparent;
    float: left;
    position: fixed;

}

header #logo {
    color: #fff;
    cursor: pointer;

}

header #logo span{
    font-size: 1.7em;
    line-height: 45px;
    margin-left: 40px;
    font-family: 'Roboto Light', serif;
}

@media (min-width: 701px) {
    #logo {
        float: left;
        width: 30%;
        font-size: 1.1em;
    }

    #about {
        float: right;
        width: 67%;
    }
}

@media (max-width: 700px) {
    #logo {
        margin-top: 15px;
        float: left;
        width: 100%;
        font-size: 1.5em;
    }
    #about {
        float: left;
        width: 100%;
    }
}

#about{
    text-align: center;
    font-size: 1em;
    line-height: 40px;
    margin-bottom: 10px;
}

#about > a {color: #fff}

#about > a:hover {
    color: #b0b0b0;
    text-decoration: underline;
}

#about > a:not(:last-child) {
    margin-right: 7%;
}

.fixed {
    z-index: 5000;
    background-color: #fff;
    border-bottom: 1px solid silver;
}

header.fixed #logo {
    color: #343434;
}

.fixed #about a {color: #343434}
.fixed #about a:hover {color: #7c7c7c}

/* Фронт - блок */

#top {
    width: 100%;
    height: 1000px;
    background-image: url("https://miro.medium.com/max/3840/1*MCT_IfKPKRdLf_5z4_yGuA.jpeg");
    background-blend-mode: multiply;
    background-color: #5bebf0;
    background-size: cover;
    text-align: center;
    color: #fff;
    font-size: 3em;
}

@media (min-width: 1101px) {
    #top{
        font-size: 3em;
    }
}

@media (max-width: 1000px) and (min-width: 651px) {
    #top{
        font-size: 2em;
    }
}

@media (max-width: 650px) {
    #top{
        font-size: 1em;
        padding-top: 50%;
    }
}

#top h1{
    padding-top: 20%;
}

#top h3{
    color: #eeeeee;
}

/* Возможности */

#main {
    padding: 100px 20%;
    width: 60%;
    float: left;
    background-color: #f6f6f6;
    border-top: 2px solid silver;
    color: #484848;
    font-size: 1.3em;
}

@media (min-width: 1401px) {
    #main{
        padding: 100px 20%;
        width: 60%;
    }
}

@media (max-width: 1400px) {
    #main div {
        padding: 100px 10%;
        width: 80%;
    }
}

@media (max-width: 700px) {
    #main{
        width: 98%!important;
        margin-bottom: 20px;
    }
}

#main div {
    width: 48%;
    margin-right: 2%;
    float: left;
}

#main h2 {font-size: 3em}
#main span {color: #a0a0a0}
